@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

* {
	margin:0;
	border:0;
	padding:0;
}
body {
	background: #F0F0F0;
	text-align:center;
	color:#555;
	font-family:'Ubuntu Condensed', sans-serif;
	line-height:190%;
	text-transform: uppercase;
}
h3 {
	font-size: 190%;
	padding: 5% 0;
}
h4 {
	font-size:170%;
	padding: 5% 0;
}
h5 {
	font-size:120%;
	color: #959595;
}
img {
	max-width:100%;
}
header {
	width:100%;
	background: #405580;
	height: 86px;
	position:fixed;
	z-index:1000;
	opacity:0.9;
}
#header-inner {
	max-width: 1200px;
	margin: 0 auto;
}
#logo {
	float:left;
	width:200px;
	height: 60px;
	text-decoration:none;
	color:white;
	font-size:30px;
	margin-top:32px;
}
nav {
	float:right;
	
}


nav ul {
	list-style:none;
}
nav ul li {
	font-family:sans-serif;
	display:inline;
	margin: 5% 0 0 0;
	float:left;
	padding: 10px;
	font-size:110%;

}

nav ul li a {
	text-decoration:none;
	color: #FFF;
	font-weight:bold;
}
a:hover {
	text-decoration:underline;
}
.current {
	text-decoration:underline;
}
#inner-wrapper {
	max-width:1200px;
	margin: 0 auto;
}
.one-third {
	width: 29%;
	float: left;
	margin: 2%;
}
.circle {
	margin: 0 auto;
	width:150px;
	height: 150px;
	background: #405580;
	border-radius:50%;
}
.one-third i {
	color: #F0F0F0;
	font-size:555%;
	padding:20%;
}

p {
	font-family: 'Droid Sans', sans-serif;
	text-align:justify;
	text-transform: none;
	font-size: 125%;
	padding: 2%;
}
.clearfix {
	clear:both;
	padding:2%;
}
article{
	float: left;
	width: 50%;
	padding: 4%;
}

.circle-image {
	border-radius: 70%;
}
 aside {
	float:right;
	width: 35%;
	padding: 2%;
 }
 aside h3 {
	text-decoration:underline;
 }
.one-third img {
	padding:2%;
}

/* Membership */

#fit {
	background: url('https://source.unsplash.com/Vn39uEkX00s') no-repeat;
	background-size:cover;
	width:100%;
	height:800px;
	color:white;
	display:table;
}

#fit-content {
	display:table-cell;
	vertical-align:middle;
}

#fit-content h5 {
	margin-top:40px;
	color:white;
	margin-bottom:20px;
	margin-left:320px;
}

#fit-content h2 {
	max-width:35%;
	font-size:300%;
	line-height:60px;
	margin-left:320px;
}

#fit-content p {
	margin-left:320px;
}

#underline {
	text-decoration:underline;
}

#form-wrapper{
	margin-left:-180px;

}
input[type="email"] {
	padding:4px;
	height:40px;
	width:250px;
}

#button1 {
	display:inline-block;
	background-color:red;
	color:white;
	padding:16px;
	text-transform:uppercase;
	font-weight:bold;

}
#options {
	margin-top:40px;
	text-align:center;
	margin-bottom:20px;
}

#options p {
	text-align:center;
}
 select {
 	padding:10px;
 	margin-left:80px;
 }

 /* Contact */

 #questions {
 	float:left;
 	width:60%;
 	margin-top:120px;
 	margin-left:40px;
 	margin-bottom:40px;
 }
 #questions-content {
 	margin:auto 0;
 }

 #contact-us {
 	float:right;
 	width:33%;
 	margin-top:120px;
 	margin-left:40px;
 	margin-bottom:200px;
 }

#receipts {
	margin-left:100px;
}

 .buttonx {
	display:inline-block;
	background-color:#405580;
	color:white;
	padding:16px;
	text-transform:uppercase;
	font-weight:bold;

}

/*Find a Gym */

#gym-banner{
	background: url('https://source.unsplash.com/YlIKVarhn00') no-repeat 50% 50%;
	display:table;
	background-size:cover;
	width:100%;
	height:500px;
	color:white;
	
}


#gym-text {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	padding-right:20px;
	font-size:20px;
}

#gym-text h5 {
	font-size:16px;
	color:white;
	font-weight:bold;
}

#ottawa {
	font-size:36px;
	font-weight:bold;
}

#gym-text p {
	font-size:16px;
	font-weight:900;
	text-align:center;
}


footer {
	background: #333;
	width:100%;
	overflow:hidden;
	opacity: 0.9;
}
#footer-inner {
	max-width: 1200px;
	margin: 0 auto;
}
footer .one-third {
	width: 33%;
	margin: 2% 0;
}
footer h3 {
	color: #959595;
	text-align:center;
}

footer p {
	color: #959595;
	text-align:center;
}
#footer-third {
	border-right: 1px solid #959595;
	max-height: 250px;
	min-height: 250px;
	
}
footer a {
	color: #959595;
	text-decoration:none;
}
.social li {
	display:inline;
}
.social i {
	font-size: 245%;
	padding: 2% 6%;
	color: #959595;
}
.social i:hover {
	color: #F5F5F5;
}
h5 a:hover {
	text-decoration:none;
	color: #405580;
}
footer.second {
	border-top: 1px solid #4D4E50;
	max-height: 50px;
	padding-bottom: 1%;
	opacity:.95;
}
 
#slider {
		margin: 0 auto;
		width:1100px;
		height:500px;
		overflow:hidden;
}
#slider .slides {
	display:block;
	width:6000px;
	height: 500px;
	margin:0;
	padding:0;
}

.slides img {
	width:100%;
	margin: 0 auto;
	max-width: 1200px;
}

#slider .slide {
	float:left;
	list-style:none;
	width: 1100px;
	height:500px;
}
/*--- Media Queries --*/

@media screen and (max-width:768px){
	header {
		position:absolute;
	}

.site-nav {
	display:none;
}
.mobile-nav-toggle {
	position:absolute;
	width:50px;
	height:50px;
	/*background:pink;*/
	right:20px;
	display:flex;
	align-items:center;
	cursor:pointer;
	top:15px;
}
.line, .line:before, .line:after {
	content:"";	
	display:block;
	height:4px;
	width:100%;
	background:white;
	position:relative;
	transition:all 0.3s ease-in-out;
}

.line:before {
	top:15px;
}
.line:after {
	bottom:17px;
}
.mobile-nav-toggle:hover nav  {
	display:block;
}


.mobile-nav-toggle nav ul, .mobile-nav-toggle nav:active ul {
	z-index:1000;
	position:absolute;
	top:50px;
	right:10px;
	background:#405580;
	padding:20px;
	border:1px solid #fff;
	border-radius: 4px 0 4px 4px;
}

.one-third {
	width:100%;
	margin:0;
}
 h3 {
 	text-align:center;
 }
 article {
 	width:100%;
 	padding:0;
 	margin:0;
 }
 aside {
 	width:100%;
 }
  h4 {
  	font-size:140%;
  	text-align:center;
  }
  footer .one-third {
  	width:100%;
  	margin:0;
  }
  .social i {
  	font-size:245%;
  }
  #footer-third {
  	text-align:center;
  	min-height:150px;
  	padding-bottom:10%;
  	border-bottom:1px solid #959595;

  }
#footer-third-last {
	margin-bottom:15%;
	text-align:center;
	}


	#fit-content{
		width:100%;

	}

	#fit-content h5 {
		margin-top:120px;
		margin-right:100px;
	}
	#fit-content h2 {

	}
	#fit-content p {
		width:30%;
	}
	#fit-content h3 {
		position:relative;
		right:95px;
		width:50%;
		margin-right:600px;
		
	}

	#form-wrapper {
		margin-left:300px;
	}

	#form1 {
		position:relative;
		right:200px;
		padding-bottom:20px;
	}

	#questions {
		text-align:center;
	}

	#questions-content {
		position:relative;
		left:80px;
	}

	#guess1 {
		position:relative;
		left:80px;
	}

	#guess1 form {
		position:relative;
		right:40px;
	}

	#questions-content h1 {
		text-align:center;
	}

	#questions-content p {
		text-align:center;
	}

	#contact-us {
		position:relative;
		bottom:120px;
		width:100%;
		text-align:center;
	}

	#contact-us h3 {
		text-align:center;
	}

	#contact-us p {
		text-align:center;
	}

	}
	


}
@media screen and (max-width: 478px) {
	h3 {
		font-size:150%;
	}

	p {
		font-size:100%;
		margin:2%;
	}
	h4 {
		font-size:115%;
	}
}
@media screen and (min-width:1600px)
			and (max-width:2400px) 
{
	
	#fit-content h2 {
	max-width:35%;
	font-size:300%;
	line-height:60px;
	margin-left:540px;
}

#fit-content p {
	margin-left:540px;
}

#contact-us p {
	margin-left:150px;
	
}

#receipts {
	margin-left:300px;
}

}