html {
      box-sizing: border-box;
      font-family:'helvetica neue';
      font-size: 20px;
      font-weight: 200;
    }
    body {
      margin: 0;
    }
    *, *:before, *:after {
      box-sizing: inherit;
    }

    .panels {
      min-height:100vh;
      overflow: hidden;
      display: flex;
    }

    .panel {
      background:#6B0F9C;
      box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
      color:white;
      text-align: center;
      align-items:center;
      /* Safari transitionend event.propertyName === flex */
      /* Chrome + FF transitionend event.propertyName === flex-grow */
      transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s;
      font-size: 20px;
      background-size:cover;
      background-position:center;
      flex: 1;
      justify-content: center;
      display: flex;
      flex-direction: column;

    }

    .panel-header {
      display:flex;
      flex:0.8;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      align-items:center;
    }

    .panel1 { 
      background-image:url(https://source.unsplash.com/KuUxlN0ZjtQ); 
      background-position: center;

    }
    .panel2 {
      background-image:url(https://www.6smarketing.com/drive/uploads/2015/07/home_image_1-1000x625.jpg); 
    }
    .panel3 
    { 
      background-image:url(https://source.unsplash.com/UCZF1sXcejo); 
    }
    .panel4 { 
      background:white;
    }
    .panel5 { 
     background-color:#F5F5F5;; 
    }
    .panel6 {
      background:white;
    }

    /* Flex Items */
    .panel > * {
      margin:0;
      width: 100%;
      transition:transform 0.5s;
      flex: 1 0 auto;
      display:flex;
      justify-content: center;
      align-items: center;
    }

    .panel > *:first-child { transform: translateY(-100%); }
    .panel.open-active > *:first-child { transform: translateY(0); }
    .panel > *:last-child { transform: translateY(100%); }
    .panel.open-active > *:last-child { transform: translateY(0); }

    .panel p {
      font-family: 'Amatic SC', cursive;
      text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
      font-size: 2em;
    }
    .panel p:nth-child(2) {
      font-size: 4em;
    }

    .panel.open {
      flex: 5;
      font-size:25px;
    }

  header {
  width:165px;
  background:white;
  padding:30px 0;
}

   .header-position {
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  display:flex;
  flex-direction:column;
  justify-content:space-between;

}

.logo {
  font-family: 'Lobster';
  font-size:60px;
  width:100%;
  text-align:center;
  position:relative;
  bottom:70px;
  background:red;
  height:80px;
  padding:0;
}

.site-nav {
  position:relative;
  bottom:40px;

}

.site-nav ul {
  list-style:none;
  padding:0;
  text-align:right;
  padding: 0px 20px 0 0;
}

.site-nav li {
  padding:10px;
  margin-bottom:10px;
  text-align: center;

}

.site-nav a {
  text-decoration:none;
  color:red;
  font-family: 'Fira Sans', sans-serif;
  font-size:20px;
}

.site-nav a:hover {
  text-decoration:underline;
}

.one-fourth img {
  float:left;
  width:11%;
}


#create{
  font-family: 'Roboto', sans-serif;
  font-size:180%;
}
#p1 {
  font-family: 'Roboto', sans-serif;
  width:75%;
  font-size:100%;
  margin-left:40px;
}
#reliable {
  font-family: 'Roboto', sans-serif;
  font-size:180%;
}
#p2 {
   font-family: 'Roboto', sans-serif;
  font-size:100%;
}
#secure {
  font-family: 'Roboto', sans-serif;
  font-size:180%;
}
#p3 {
  font-family: 'Roboto', sans-serif;
  font-size:100%;
}
#clientsx {
  font-family: 'Roboto', sans-serif;
  font-size:180%;
}
#p4 {
  font-family: 'Roboto', sans-serif;
  font-size:100%;
}
 #why-us {
  font-family: 'Roboto', sans-serif;
  font-size:180%;
 }
 #p5 {
  font-family: 'Roboto', sans-serif;
  font-size:100%;
 }
 #contactx {
  font-family: 'Roboto', sans-serif;
  font-size:180%;
 }
 @media screen and (min-width:1600px)
      and (max-width:2400px) 
{
.logo {
  font-family: 'Lobster';
  font-size:60px;
  width:150%;
  text-align:center;
  position:relative;
  bottom:70px;
  background:pink;
  height:80px;
  
}
 

}