@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Fira+Sans);



body {
	font-family: 'Roboto', sans-serif;
	background: #F0F0F0;
}

.home-wrap {
	display:flex;
	min-height:100vh;
}



header {
	width:135px;
	background:white;
	padding:30px 0;
}

.header-position {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	display:flex;
	flex-direction:column;
	justify-content:space-between;

}

.logo {
	font-family: 'Lobster';
	font-size:60px;
	text-align:center;
	position:relative;
	bottom:70px;
	background:red;
	height:80px;
	padding:0;
}

.site-nav {
	position:relative;
	bottom:40px;
}

.site-nav ul {
	list-style:none;
	padding:0;
	text-align:right;
	padding: 0px 20px 0 0;
}

.site-nav li {
	padding:10px;
}

.site-nav a {
	text-decoration:none;
	color:red;
	font-family: 'Fira Sans', sans-serif;
	font-size:20px;
}

.site-nav a:hover {
	text-decoration:underline;
}

.site-nav li {
	margin-bottom:10px;
}




span {
	height:20px;
	background:#333;
}


.home-sections {
	display:flex;
	flex:1;
	margin-left:128px;
	position:relative;
	margin-bottom: 10px;
	width:100%;
}


section {
	padding:50px 0;
}

.flex {
	display:flex;
	flex-direction:row;
	justify-content:center;
}


.intro {
	background: url("https://source.unsplash.com/KuUxlN0ZjtQ");
	background-position:center;
	background-size:cover;
	width:100%;
	height:300px;

}

h2 {
	position:absolute;
	top:-60px;
	color:white;
	font-size:60px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;

}

/*'Who We Are' section*/

.about {
	position:absolute;
	top:400px;
	background:url("https://www.6smarketing.com/drive/uploads/2015/07/home_image_1-1000x625.jpg");
	background-position:center;
	background-size:cover;
	width:100%;
	height:300px;

}

.who {
	max-width:800px;
	margin:10px 10px;
	
}

h3 {
	position:absolute;
	top:-10px;
	left:160px;
	color:black;
	font-weight:bold;
	font-size:30px;
	font-family:'Fira Sans', sans-serif;
}

.who p {
	position:absolute;
	top:50px;
	left:160px;
	max-width:240px;
	font-size:16px;
	color:black;
	line-height:1.4;
	
}

/*columns*/
.col-1 {
	max-width:500px;
	margin:0 10px;
	

}

/*'What We Do'section*/

.service {
	position:absolute;
	top:800px;
	background:url("https://source.unsplash.com/UCZF1sXcejo");
	background-position:center;
	background-size:cover;
	width:100%;
	height:450px;
	

}

.what {
	max-width:800px;
	margin:10px 10px;
}

h4 {
	position:absolute;
	top:0;
	right:100px;
	color:white;
	font-weight:bold;
	font-size:30px;
	font-family:'Fira Sans', sans-serif;
}

 .what p {
	position:absolute;
	top:80px;
	max-width:240px;
	right:50px;
	font-size:16px;
	color:white;
	line-height:1.4;
}

#learn {
	position:absolute;
	right:180px;
	top:280px;
	font-family:'Fira Sans', sans-serif;
	display:block;
	background:white;
	text-align:center;
	padding:10px 15px;
	line-height:1;
	cursor:pointer
}

#serv {
	position:absolute;
	top:50px;
	right:-70px;
	width:300px;
	display:block;
	font-size: 14px;
}

/* Clients section */

.clients {
	position:absolute;
	top:1350px;
	background:white;
	width:100%;
	height:500px;	

}

h5 {
	position:absolute;
	top:-10px;
	left:500px;
	font-weight:bold;
	font-size:30px;
	font-family:'Fira Sans', sans-serif;
}

.one-fourth img {
	float:left;
	width:23%;
}

/* Why Us section */

.why {
	position:absolute;
	top:1950px;
	background-color:#F5F5F5;
	width:100%;
	height:300px;	

}

h6 {
	position:absolute;
	top:-40px;
	left:500px;
	font-weight:bold;
	font-size:30px;
	font-family:'Fira Sans', sans-serif;
	letter-spacing: 10px;
}

.one-third {
	position:absolute;
	top:120px;
	padding-left:140px;
}

.one-third span {
	float:left;
	width:30%;
	margin:1%;
	background:none;
}

.why-title {
	text-transform:uppercase;
	font-weight:bold;
	font-size:20px;

}

.why-paragraph {
	text-transform: lowercase;
	padding-top:30px;
	font-weight:200;
	letter-spacing: 2px;
	line-height:1.3;
}

/* Contact */

.contact {
	position:absolute;
	top:2350px;
	background:white;
	width:100%;
	height:680px;

}

.contact p {
	position:absolute;
	top:80px;
	font-family:'Fira Sans', sans-serif;
	line-height:1.5;
}

.contact-form {
	position:absolute;
	top:180px;
	left:370px;

}

input[type="text"] {
	padding:4px;
	height:40px;
	width:450px;
	font-family:'Fira Sans', sans-serif;
	font-size:18px;
	border:none;
	border-bottom:1px solid rgba(0,0,0,0.4);
}


input[type="email"] {
	padding:4px;
	height:40px;
	width:450px;
	font-family:'Fira Sans', sans-serif;
	font-size:18px;
	border:none;
	border-bottom:1px solid rgba(0,0,0,0.4);
}

input[type="tel"] {
	padding:4px;
	height:40px;
	width:450px;
	font-family:'Fira Sans', sans-serif;
	font-size:18px;
	border:none;
	border-bottom:1px solid rgba(0,0,0,0.4);
}

.btn {
	display:inline-block;
	background-color:white;
	color:black;
	padding:16px;
	text-transform:uppercase;
	font-weight:bold;
	border:1px solid black;
	cursor:pointer;

}

.second {
	position:absolute;
	top:3080px;
	background-color:#2C2C2C;
	width:100%;
	height:60px;
	color:white;
}

.second p {
	text-align:center;
}




@media screen and (max-width:890px) {

	.home-wrap header {
	width:100%;
	height:80px;
	padding:20px 0;
}

.header-position {
	position:relative;
	top:auto;
	bottom:auto;
	left:auto;
	flex-direction:row;
	align-items:center;
}

.site-nav {
	display:none;
}

.logo {
	text-align:center;
	width:150px;
	height:120px;
	font-size:80px;
	position:absolute;
	top:-55px;
	left:0px;
	


}

.mobile-nav-toggle {
	position:absolute;
	width:50px;
	height:50px;
	/*background:pink;*/
	right:20px;
	display:flex;
	align-items:center;
	cursor:pointer;
}



	.line, .line:before, .line:after {
	content:"";	
	display:block;
	height:4px;
	width:100%;
	background:#333;
	position:relative;
	transition:all 0.3s ease-in-out;
}

.line:before {
	top:15px;
}
.line:after {
	bottom:17px;
}

/*.line:hover {
	background:transparent;
}
.line:hover:before, .line:hover:after {
	transform-origin: center;
	transform: rotate(45deg);
	top:0;
}
.line:hover:after {
	transform: rotate(-45deg);
}*/
.mobile-nav-toggle:hover nav  {
	display:block;
}

.mobile-nav-toggle nav ul li {
	width:100px;
	height:15px;
}

.mobile-nav-toggle nav ul, .mobile-nav-toggle nav:active ul {
	z-index:1000;
	position:absolute;
	top:50px;
	right:10px;
	background-color:white;
	border:1px solid red;
	
}


.home-sections {
	display:block;
	position:absolute;
	top:90px;
	margin:0;

}

.intro {
	position:absolute;
	top:40px;
	max-width:98%;
	overflow:hidden;

}

h2 {
	position:absolute;
	top:20px;
	font-size:40px;
}

.about {
	position:absolute;
	max-width:98%;
}

h3 {
	position:absolute;
	left:20px;
}

.who p {
	position:absolute;
	left:20px;
}

.service {
	position:absolute;
	max-width:98%;
}

h4 {
	position:absolute;
	right:20px;
}

.what p {
	position:absolute;
	right:-10px;
}

#learn {
	position:absolute;
	top:320px;
	right:80px;
}

.clients {
	max-width:98%;
	height:300px;
}

h5 {
	position:absolute;
	left:300px;
}

.why {
	max-width:98%;
	top:1750px;
	height:400px;
}
 h6 {
 	position:absolute;
 	left:300px;
 }

 .one-third {
 	padding-left:80px;
 }

 .contact {
 	max-width:98%;
 	top:2250px;
 	height:730px;
 }

 .contact-form {
 	position:absolute;
 	left:130px;
 }

 .second {
 	max-width:98%;
 	height:50px;
 }
}

@media screen and (min-width:200px)
			and (max-width:650px) 
		{

		
	.intro {
		max-width:97%;
	}

	h2 {
		font-size:35px;
	}

	h3 {
		position:absolute;
		top:50px;
		font-size:25px;
	}

	.about {
		max-width:97%;
	}

	.who p {
		position:absolute;
		top:100px;
		font-size:14px;
	}

	.service {
		max-width:97%;
		height:375px;
	}

	h4 {
		font-size:25px;
	}

	.what p {
		position:absolute;
		right:5px;
		font-size:14px;

	}

	#learn {
		position:absolute;
		top:250px;
	}

	.clients {
		max-width:97%;
		top:1250px;
		height:900px;
	}

	h5 {
		position:absolute;
		left:200px;
	}

	.one-fourth img {
	float:left;
	width:50%;
}

.why {
	max-width:97%;
	top:2400px;
	height:300px;
}

h6 {
	position:absolute;
	left:200px;
}

.one-third {
	padding-left:40px;
}

.why-title {
	font-size:16px;
}

.contact {
	max-width:97%;
	top:2800px;
}

.contact-form {
	position:absolute;
	left:40px;
}

.second {
	top:3600px;
	max-width:97%;
}
}