@import url('https://fonts.googleapis.com/css?family=Martel:800');

* {
	box-sizing:border-box;
}

body {
	font-family: 'Martel', serif;
}

#over {
	overflow:hidden;
}


/* Header */

.header-container {
	padding:20px 60px;
}

#logo {
	position:absolute;
	top:2%;
	float:left;
	font-size:1.6rem;

}

#products {
	position:absolute;
	top:9%;
	left:38%;
	padding:5px;
	font-size:0.9rem;
}

#living{
	position:absolute;
	top:9%;
	left:50%;
	padding:5px;
	font-size:0.9rem;

}

#top {
	position:absolute;
	top:9%;
	left:60%;
	padding:5px;
	font-size:0.9rem;
}

.current {
	border-bottom: 2px solid black;
	
}

#font {
	float:right;
}

#search {
	font-size:1.2rem;
	padding-right:25px;
	cursor:pointer;
}

.search-box {
	width:40px;
	height:40px;
	position:relative;
}
.input {
	position:absolute;
	top:-20%;
	right:282%;
	box-sizing:border-box;
	width:0;
	height:33px;
	border:3px solid black;
	border-radius:50px;
	padding: 0 10px;
	outline:none;
	font-size:1rem;
	color:#29313a;
	transition: all 0.8s ease;

}

.btn {
	position:absolute;
	width:36px;
	height:36px;
	background: black;
	border-radius:50%;
	top:-20%;
	right:270%;
	cursor:pointer;
	text-align:center;
	line-height:35px;
	font-size:1rem;
	color:white;
	transition: all 0.8s ease;
}

.input.active {
	width:350px;
	
}

.btn.animate {
	transform:rotate(-360deg);
	
}

#cart {
	position:absolute;
	top:4%;
	right:4%;
	font-size:1.5rem;
	padding-right:30px;
	cursor:pointer;
}

#user {
	position:absolute;
	top:4%;
	right:10%;
	font-size:1.5rem;
	cursor:pointer;
}

/* Login Form */

.modal {
	display:none;
	position:fixed;
	z-index:1;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background:rgba(0, 0, 0, 0.5);
}

.modal-content {
	background:#f4f4f4;
	margin:3% 5% 2% 33%;
	padding:20px;
	width:45%;
	height:55%;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 
	0 7px 20px 0 rgba(0, 0, 0, 0.17);
	animation-name:modalopen;
	animation-duration:1s;
}

.modal-content h2 {
	margin:6% 6%;
}

.modal-input-fields {
	padding-bottom:10px;
	margin-left:4%;
}

 .modal-input {
	width:50%;
	border: 1px solid #BDBDBD;
	padding: 10px 30px;
	border-radius:3px;
	font-size:1rem;
}

.modal-sign {
	display:flex;
}

.modal-sign-up {
	text-align:center;
	text-transform:uppercase;
	width:20%;
	padding:10px;
	background:black;
	color:white;
	margin-left:6%;
	margin-top:2%;
	cursor:pointer;
}

.modal-sign-up:hover {
	color:black;
	background:lightgrey;
}

.modal-log-in {
	text-align:center;
	text-transform:uppercase;
	width:20%;
	padding:10px;
	background:white;
	color:black;
	margin-left:2%;
	margin-top:2%;
	cursor:pointer;
}


.modal-log-in:hover {
	color:white;
	background:grey;
}



.modal-input-fields .fa {
	position:relative;
	color: #212121;
	font-size: 0.90rem;
	top:0;
	left:5%;
}

#closeBtn {
	color:#ccc;
	float:right;
	font-size:2rem;


}

#closeBtn:hover {
	color:#000;
	text-decoration:none;
	cursor:pointer;
}

@keyframes modalopen {
	from{opacity:0}
	to {opacity:1}
}


.nav-area a {
	text-decoration:none;
	color:black;
}

/*  End of Header */

/* Background */

.content-area {
	padding:70px 0;

}

.white-bg {
	background:white;
	float:left;
	width:30%;
	height:450px;
	z-index:1;

}

.light-bg {
	background:lightblue;
	opacity:0.95;
	float:right;
	width:63%;
	height:450px;
	z-index:2;
	transition:transform 1s ease;
}

/* End of Background */

/* Content */

.main-title {
	position:relative;
	right:-28%;
	top:40px;
	font-size:4rem;

}
.main-para {
	position:relative;
	left:29%;
	top:40px;
	width:78%;
	font-size:1rem;
	z-index:600;
	color:grey;
	font-weight:900;
}
.cost {
	position:relative;
	left:29%;
	top:60px;
	font-size:2.2rem;
}

.image-container {
	background:lightblue;

}

.image {
	position:relative;
	top:10%;
	left:10%;
	width:80%;
	height:400px;

}

/* product info */

.product-section {
	position:relative;
	right:-49%;
	bottom:130%;
	transform:rotate(270deg);
	text-transform:uppercase;
	cursor:pointer;
	transition:transform 1s ease;
}

.product-info {
	position:absolute;
	right:-39%;
	background:black;
	color:white;
	width:534px;
	height:450px;
	padding:15px 40px;
	transition:transform 1s ease;
}

.attributes {
	display:block;
	padding-bottom:30px;
}

#people {
	font-size:0.8rem;
	margin-top:10px;
}

#cat {

}

.quantity-btn {
	width:25%;
	margin-top:10px;
	background:white;
	color:black;
	text-align:center;
	cursor:pointer;
}

.cart-btn {
	width:75%;
	margin-top:60px;
	background:lightblue;
	color:black;
	text-align:center;
	padding:3px 15px;
	cursor:pointer;
}

.cart-btn:hover {
	background:white;
}

.cart-btn a {
	color:black;
	text-decoration:none;

}

.white-block {
	position:relative;
	top:0:;
	left:5px;
	display:inline-block;
	background:white;
	width:60px;
	height:50px;
	text-align:center;
}

.w2 {
	position:relative;
	top:0;
	left:10px;
	display:inline-block;
	background:white;
	width:60px;
	height:50px;
	text-align:center;
}

/* End of Product Info */

.moveback{
	transform: translateX(-500px);
}

/* Footer */

.footer-area {
position:absolute;
top:92%;
right:82%;
font-size:1.3rem;
}

.footer-icon {
	padding:15px;
	color:grey;
	cursor:pointer;
}

.number-area {
	padding-right:30px;
	float:right;

}
.number-area ul {
	list-style:none;

}
.number-area ul li {
	display:inline-block;
	float:left;
	padding:2px 15px;
	cursor:pointer;
}

.black-bg {
	background:black;
	color:white;
	padding:3px 12px;

}

.b {
	background:black;
	color:white;
	padding:3px 12px;
}

/* End of Footer */

/* Living Room Section */

.living-container {
padding-top:80px;

}

.living-bg {
	background:rgba(211, 211, 211, 0.18);
	height:450px;
	padding: 0 70px;
}

#living-title {
	text-transform:uppercase;
	font-size:4.5rem;
	line-height:1;
	letter-spacing:4px;
}

#living-story {
	position:absolute;
	top:40%;
	text-transform:uppercase;
	font-size:1.8rem;
	font-weight:lighter;
	
}

#living-para {
	position:absolute;
	width:50%;
	top:51%;
	line-height:2.5;
}

#living-btn {
	position:absolute;
	top:80%;
	background:black;
	color:white;
	width:150px;
	padding:10px;

}

#living-btn a {
text-decoration:none;
color:white;
}


.one-half {
	float:left;
	width:47%;
}

.one-half img {
	position:absolute;
	top:20%;
	right:15%;
	width:450px;
	height:400px;
}

.summer-container {
	position:relative;
	background:white;
	height:450px;
	padding:0 70px;
}

#summer-area {
	position:absolute;
	top:40%;
	text-transform:uppercase;
}

#summer-sale {
	font-size:2rem;
	letter-spacing:5px;
	border-bottom: 2px solid black;
}

.summer-items {
	float:left;
	width:45%;

}

#summer-item-1{
	position:absolute;
	top:-20%;
	left:20%;
	width:450px;
	height:400px;
}
#summer-item-2{
	position:absolute;
	top:-10%;
	left:51%;
	width:350px;
	height:350px;
}
#summer-item-3{
	position:absolute;
	top:-5%;
	left:75%;
	width:300px;
	height:300px;
}
#summer-item-4{
	position:absolute;
	top:150%;
	left:25%;
	width:300px;
	height:300px;
}
#summer-item-5{
	position:absolute;
	top:150%;
	left:52%;
	width:300px;
	height:300px;
}
#summer-item-6 {
	position:absolute;
	top:150%;
	left:76%;
	width:300px;
	height:300px;
}

.item-title {
	position:absolute;
	top:50%;
	left:30%;
	font-size:1.2rem;
	text-transform:uppercase;
}

.item-type {
	position:absolute;
	top:58%;
	left:30%;
	font-size:0.8rem;
	color:grey;
}

.item-price {
	position:absolute;
	top:66%;
	left:30%;
}

.cross {
	text-decoration:line-through;
}

.item-view {
	position:absolute;
	top:77%;
	left:25%;
	background:black;
	color:white;
	padding:10px;
	cursor:pointer;
	margin-bottom:400px;
}

.summer-btn {
	position:absolute;
	top:82%;
	left:34%;
	background:black;
	color:white;
	width:120px;
	padding:10px;
	margin-left:5px;
	text-decoration:none;
	margin-left:10px;
	text-align:center;
}
.summer-btn a {
	text-decoration:none;
	color:white;
}

.item-details {
	position:absolute;
	top:94%;
	left:25%;
	width:25%;
	font-size:0.8rem;
	padding-bottom:60px;
	display:none;
}

.item-title-2 {
	position:absolute;
	top:62%;
	left:60%;
	font-size:1.2rem;
	text-transform:uppercase;

}

.item-type-2 {
	position:absolute;
	top:70%;
	left:60%;
	font-size:0.8rem;
	color:grey;
}

.item-price-2 {
	position:absolute;
	top:78%;
	left:60%;
}

.cross {
	text-decoration:line-through;
}

.item-view-2 {
	position:absolute;
	top:89%;
	left:55%;
	background:black;
	color:white;
	padding:10px;
	cursor:pointer;
}

.summer-btn2 {
	position:absolute;
	top:94%;
	left:64%;
	background:black;
	color:white;
	width:120px;
	padding:10px;
	margin-left:5px;
	text-decoration:none;
	margin-left:10px;
	text-align:center;
}

.summer-btn2 a {
	text-decoration:none;
	color:white;
}

.item-details-2 {
	position:absolute;
	top:106%;
	left:55%;
	width:25%;
	font-size:0.8rem;
	padding-bottom:60px;
	display:none;
}


.item-title-3 {
	position:absolute;
	top:50%;
	left:80%;
	font-size:1.2rem;
	text-transform:uppercase;

}

.item-type-3 {
	position:absolute;
	top:58%;
	left:80%;
	font-size:0.8rem;
	color:grey;
}

.item-price-3 {
	position:absolute;
	top:66%;
	left:80%;
}

.cross {
	text-decoration:line-through;
}

.item-view-3 {
	position:absolute;
	top:77%;
	left:80%;
	background:black;
	color:white;
	padding:10px;
	cursor:pointer;
}

.summer-btn3 {
	position:absolute;
	top:82%;
	left:89%;
	background:black;
	color:white;
	width:120px;
	padding:10px;
	margin-left:5px;
	text-decoration:none;
	margin-left:10px;
	text-align:center;
}

.summer-btn3 a {
	text-decoration:none;
	color:white;
}

.item-details-3 {
	position:absolute;
	top:93%;
	left:80%;
	width:15%;
	font-size:0.8rem;
	padding-bottom:60px;
	display:none;
}


.item-title-4 {
	position:absolute;
	top:215%;
	left:35%;
	font-size:1.2rem;
	text-transform:uppercase;

}

.item-type-4{
	position:absolute;
	top:223%;
	left:35%;
	font-size:0.8rem;
	color:grey;
}

.item-price-4{
	position:absolute;
	top:235%;
	left:35%;
}

.cross {
	text-decoration:line-through;
}

.item-view-4 {
	position:absolute;
	top:245%;
	left:30%;
	background:black;
	color:white;
	padding:10px;
	cursor:pointer;
}

.summer-btn4 {
	position:absolute;
	top:250%;
	left:39%;
	background:black;
	color:white;
	width:120px;
	padding:10px;
	margin-left:5px;
	text-decoration:none;
	margin-left:10px;
	text-align:center;
}

.summer-btn4 a {
	text-decoration:none;
	color:white;
}

.item-details-4 {
	position:absolute;
	top:260%;
	left:30%;
	width:15%;
	font-size:0.8rem;
	padding-bottom:60px;
	display:none;
}
.item-title-5{
	position:absolute;
	top:215%;
	left:60%;
	font-size:1.2rem;
	text-transform:uppercase;

}

.item-type-5{
	position:absolute;
	top:223%;
	left:60%;
	font-size:0.8rem;
	color:grey;
}

.item-price-5{
	position:absolute;
	top:235%;
	left:60%;
}

.cross {
	text-decoration:line-through;
}

.item-view-5 {
	position:absolute;
	top:245%;
	left:55%;
	background:black;
	color:white;
	padding:10px;
	cursor:pointer;
}

.summer-btn5 {
	position:absolute;
	top:250%;
	left:64%;
	background:black;
	color:white;
	width:120px;
	padding:10px;
	margin-left:5px;
	text-decoration:none;
	margin-left:10px;
	text-align:center;
}

.summer-btn5 a {
	text-decoration:none;
	color:white;
}

.item-details-5 {
	position:absolute;
	top:260%;
	left:55%;
	width:15%;
	font-size:0.8rem;
	padding-bottom:60px;
	display:none;
}
.item-title-6 {
	position:absolute;
	top:210%;
	left:84%;
	font-size:1.2rem;
	text-transform:uppercase;

}

.item-type-6{
	position:absolute;
	top:218%;
	left:84%;
	font-size:0.8rem;
	color:grey;
}

.item-price-6{
	position:absolute;
	top:235%;
	left:84%;
}

.cross {
	text-decoration:line-through;
}

.item-view-6{
	position:absolute;
	top:245%;
	left:80%;
	background:black;
	color:white;
	padding:10px;
	cursor:pointer;
}

.summer-btn6{
	position:absolute;
	top:250%;
	left:89%;
	background:black;
	color:white;
	width:120px;
	padding:10px;
	margin-left:5px;
	text-decoration:none;
	margin-left:10px;
	text-align:center;
}

.summer-btn6 a {
	text-decoration:none;
	color:white;
}

.item-details-6 {
	position:absolute;
	top:260%;
	left:80%;
	width:15%;
	font-size:0.8rem;
	padding-bottom:60px;
	display:none;
}



.living-bg2 {
	position:absolute;
	top:345%;
	width:60%;
	background:rgba(211, 211, 211, 0.18);
	height:320px;
	padding: 0 70px;
}
 
.falcon {
	position:relative;
	bottom:15%;
	right:10%;
	width:400px;
	height:300px;
}

.living-bg2 h3 {
	position:relative;
	bottom:80%;
	left:55%;
}
.living-bg2 h4 {
	position:relative;
	bottom:90%;
	left:57%;
	font-size:2rem;
}

#sixty {
	color:orange;
}



.living-img {
	position:absolute;
	top:345%;
	left:60%;
	width:40%;
	height:320px;
}

.countdown {
	display:flex;
	position:relative;
	bottom:100%;
	left:51%;
	font-size:0.90rem;
}
.countdown div {
	padding:15px;
	border: 1px solid white;
	border-radius:10px;
	margin:5px;
	background:black;
	color:white;
}

.countdown div:first-child {
	background:orange;
}

.countdown span {
	display:block;
}

/* Top Product Section */

.top-bg {
	background:rgba(211, 211, 211, 0.3);
	height:1250px;
	padding: 0 70px;
}

.top-bg a {
	text-decoration:none;
	color:black;
}

.card1 {
	position:absolute;
	top:45%;
	left:10%;
	background:white;
	width:300px;
	height:450px;
	float:left;
	box-shadow: 10px 10px 15px rgba(50,50,93,.3),
				5px 5px 5px rgba(0,0,0,.07);
	transition: transform .15s ease;
}

.card1:hover {
	background:white;
	opacity:0.6;
}



#top-title {
	font-size:1.2rem;
	text-align:center;
	padding-top:40px;
	width:90%;
}

#top-title::before {
	content:'';
	padding:5px;
	border-left:2px solid grey;
}

#top-title::after {
	content:'';
	padding:5px;
	border-right:2px solid grey;
}

#flow {
	font-size:1.8rem;
	text-align:center;
}

#sofa {
	text-align:center;
	font-size:1rem;
	color:grey;
	line-height:5px;
}

#sofa-img {
	position:absolute;
	top:20%;
	right:5%;
	text-align:center;
	width:260px;
	height:260px;
}

#sofa-price {
	position:absolute;
	top:70%;
	right:50%;
	font-size:1.4rem;
	color:red;
}

.card2 {
	position:absolute;
	top:45%;
	left:38%;
	background:white;
	width:300px;
	height:450px;
	float:left;
	box-shadow: 10px 10px 15px rgba(50,50,93,.3),
				5px 5px 5px rgba(0,0,0,.07);
	transition: transform .15s ease;
}

.card2:hover {
	background:white;
	opacity:0.6;
}

#versailles {
	font-size:1.8rem;
	text-align:center;
}

#bed {
	text-align:center;
	font-size:1rem;
	color:grey;
	line-height:5px;
}

#bed-img {
	position:absolute;
	top:25%;
	right:3%;
	text-align:center;
	width:260px;
	height:260px;
}

#bed-price {
	position:absolute;
	top:77%;
	right:40%;
	font-size:1.4rem;
	color:red;
}
.card3 {
	position:absolute;
	top:45%;
	left:66%;
	background:white;
	width:300px;
	height:450px;
	float:left;
	box-shadow: 10px 10px 15px rgba(50,50,93,.3),
				5px 5px 5px rgba(0,0,0,.07);
	transition: transform .15s ease;

}

.card3:hover {
	background:white;
	opacity:0.6;
}

#karina {
	font-size:1.8rem;
	text-align:center;
}

#lamp {
	text-align:center;
	font-size:1rem;
	color:grey;
	line-height:5px;
}

#lamp-img {
	position:absolute;
	top:25%;
	right:3%;
	text-align:center;
	width:260px;
	height:260px;
}

#lamp-price {
	position:absolute;
	top:77%;
	right:40%;
	font-size:1.4rem;
	color:red;
}
.card4 {
	position:absolute;
	top:130%;
	left:10%;
	background:white;
	width:300px;
	height:450px;
	float:left;
	box-shadow: 10px 10px 15px rgba(50,50,93,.3),
				5px 5px 5px rgba(0,0,0,.07);
	transition: transform .15s ease;
}

.card4:hover {
	background:white;
	opacity:0.6;
}

#elios{
	font-size:1.8rem;
	text-align:center;
}

#mirror {
	text-align:center;
	font-size:1rem;
	color:grey;
	line-height:5px;
}

#mirror-img {
	position:absolute;
	top:27%;
	right:3%;
	text-align:center;
	width:260px;
	height:260px;
}

#mirror-price {
	position:absolute;
	top:80%;
	right:40%;
	font-size:1.4rem;
	color:red;
}

.card5 {
	position:absolute;
	top:130%;
	left:38%;
	background:white;
	width:300px;
	height:450px;
	float:left;
	box-shadow: 10px 10px 15px rgba(50,50,93,.3),
				5px 5px 5px rgba(0,0,0,.07);
	transition: transform .15s ease;
}

.card5:hover {
	background:white;
	opacity:0.6;
}

#alto{
	font-size:1.8rem;
	text-align:center;
}

#bookcase{
	text-align:center;
	font-size:1rem;
	color:grey;
	line-height:5px;
}

#book-img {
	position:absolute;
	top:27%;
	right:3%;
	text-align:center;
	width:260px;
	height:260px;
}

#bookcase-price {
	position:absolute;
	top:80%;
	right:40%;
	font-size:1.4rem;
	color:red;
}
.card6 {
	position:absolute;
	top:130%;
	left:66%;
	background:white;
	width:300px;
	height:450px;
	float:left;
	box-shadow: 10px 10px 15px rgba(50,50,93,.3),
				5px 5px 5px rgba(0,0,0,.07);
	transition: transform .15s ease;
}

.card6:hover {
	background:white;
	opacity:0.6;
}


#berto{
	font-size:1.8rem;
	text-align:center;
}

#sofa-bed{
	text-align:center;
	font-size:1rem;
	color:grey;
	line-height:5px;
}

#sofabed-img {
	position:absolute;
	top:27%;
	right:3%;
	text-align:center;
	width:260px;
	height:260px;
}

#sofabed-price {
	position:absolute;
	top:80%;
	right:40%;
	font-size:1.4rem;
	color:red;
}





/* Cart Secton */ 
#wrapper {
	padding:25px;
}

#container {
	margin-left:3%;
	padding-top:60px;
	width:40%;
	float:left;
}

.join {
 	background:#e6e6e6;
 	border: #cccccc solid 1px;
 	padding:2px 4px 0px 15px;
 	margin-top: 40px;
 	width:80%;
 }
 #free {
 	color:red;
 	font-size:18px;
 	text-transform:uppercase;
 	font-weight:bold;
 }

 #info-v {
 	font-size:0.8rem;
 }

.cart-2{
	font-size:18px;
	font-weight:bold;
}

#no-items {
	border: #cccccc solid 1px;
	padding:10px;
	font-weight:bold;
	font-size:13px;
	margin-bottom:100px;
	
}


#sidebar {
	padding-top:60px;
	float:right;
	width:40%;
	
}

.dark {
	background-color:#191919;
	letter-spacing:0.25em;
	font-size:0.8rem;
	color:#efefef;
	margin-bottom:20px;
	border-radius:3px;

}
.dark h3 {
	border-bottom:#000 1px solid;
	padding:10px 20px;
	
}

.dark h4 {
	border-bottom: #000 1px solid;
	padding:10px 20px;
	border-radius:2px;
}

#button1 {
	padding:10px;
	margin-left:80px;
	margin-bottom:10px;
	display:inline-block;
	width:260px;
	text-transform:uppercase;
	font-weight:bold;
	text-align:center;
}

/* End of Cart Section */
/* media queries */

@media screen and (min-width:1600px)
      and (max-width:2400px) 
{
	#products {
	position:absolute;
	top:6%;
	left:38%;
	padding:5px;
	font-size:0.9rem;
}

#living{
	position:absolute;
	top:6%;
	left:50%;
	padding:5px;
	font-size:0.9rem;

}

#top {
	position:absolute;
	top:6%;
	left:60%;
	padding:5px;
	font-size:0.9rem;
}

.living-bg {
	background:rgba(211, 211, 211, 0.18);
	height:550px;
	padding: 0 70px;
}



#living-story {
	position:absolute;
	top:25%;
	text-transform:uppercase;
	font-size:1.8rem;
	font-weight:lighter;
	
}

#living-para {
	position:absolute;
	width:50%;
	top:35%;
	line-height:2.5;
}

.card1 {
	position:absolute;
	top:33%;
	left:10%;
	background:white;
	width:300px;
	height:450px;
	float:left;
	box-shadow: 10px 10px 15px rgba(50,50,93,.3),
				5px 5px 5px rgba(0,0,0,.07);
	transition: transform .15s ease;
}

.card2 {
	position:absolute;
	top:33%;
	left:38%;
	background:white;
	width:300px;
	height:450px;
	float:left;
	box-shadow: 10px 10px 15px rgba(50,50,93,.3),
				5px 5px 5px rgba(0,0,0,.07);
	transition: transform .15s ease;
}

.item-details-2 {
	position:absolute;
	top:106%;
	left:52%;
	width:25%;
	font-size:0.8rem;
	padding-bottom:60px;
	display:none;
}
.card3 {
	position:absolute;
	top:33%;
	left:66%;
	background:white;
	width:300px;
	height:450px;
	float:left;
	box-shadow: 10px 10px 15px rgba(50,50,93,.3),
				5px 5px 5px rgba(0,0,0,.07);
	transition: transform .15s ease;

}

.card4 {
	position:absolute;
	top:90%;
	left:10%;
	background:white;
	width:300px;
	height:450px;
	float:left;
	box-shadow: 10px 10px 15px rgba(50,50,93,.3),
				5px 5px 5px rgba(0,0,0,.07);
	transition: transform .15s ease;
}

.card5 {
	position:absolute;
	top:90%;
	left:38%;
	background:white;
	width:300px;
	height:450px;
	float:left;
	box-shadow: 10px 10px 15px rgba(50,50,93,.3),
				5px 5px 5px rgba(0,0,0,.07);
	transition: transform .15s ease;
}

.card6 {
	position:absolute;
	top:90%;
	left:66%;
	background:white;
	width:300px;
	height:450px;
	float:left;
	box-shadow: 10px 10px 15px rgba(50,50,93,.3),
				5px 5px 5px rgba(0,0,0,.07);
	transition: transform .15s ease;
}

.one-half img {
	position:absolute;
	top:8%;
	right:15%;
	width:650px;
	height:600px;
}

.living-img {
	position:relative;
	top:1050px;
	left:1000px;
	width:890px;
	height:320px;
}



.living-bg2 {
	position:absolute;
	top:232%;
	width:60%;
	background:rgba(211, 211, 211, 0.18);
	height:316px;
	padding: 0 70px;
}
 
.falcon {
	position:relative;
	bottom:15%;
	right:7%;
	width:500px;
	height:300px;
}

.living-bg2 h3 {
	position:relative;
	bottom:80%;
	left:55%;
}
.living-bg2 h4 {
	position:relative;
	bottom:90%;
	left:57%;
	font-size:2rem;
}

.falcon {
	position:relative;
	bottom:50%;
	right:4%;
	width:500px;
	height:300px;
}

.countdown {
	display:flex;
	position:relative;
	bottom: 100%;
	left:51%;
	font-size:0.90rem;
}


#user {
	position:absolute;
	top:3%;
	right:7%;
	font-size:1.5rem;
	cursor:pointer;
}


#cart {
	position:absolute;
	top:3%;
	right:3%;
	font-size:1.5rem;
	padding-right:30px;
	cursor:pointer;
}

.modal-content {
	background:#f4f4f4;
	margin:3% 5% 2% 33%;
	padding:20px;
	width:35%;
	height:40%;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 
	0 7px 20px 0 rgba(0, 0, 0, 0.17);
	animation-name:modalopen;
	animation-duration:1s;
}

.product-section {
	position:relative;
	right:-49%;
	bottom:170%;
	transform:rotate(270deg);
	text-transform:uppercase;
	cursor:pointer;
	transition:transform 1s ease;
}

.product-info {
	position:absolute;
	right:-41%;
	background:black;
	color:white;
	width:734px;
	height:450px;
	padding:15px 40px;
	transition:transform 1s ease;
}
.moveback{
	transform: translateX(-700px);
}

}